@define-color bg #1a1a1a;
@define-color fg #d0d0d0;
@define-color gray1 #909090;
@define-color gray2 #333333;
@define-color gray3 #a0a0a0;
@define-color gray4 #b0b0b0;
@define-color gray5 #808080;
@define-color fg_bright #f0f0f0;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
